.filter_adjust {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
}
